.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 747px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 36px;
        align-self: center;
    }
}
