.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}